<div id="breadcrumb" class="breadcrumb">
  <div itemprop="breadcrumb" class="container">
    <div class="row">
      <div class="col-md-24">
        <a href="/" class="homepage-link" title="Back to the frontpage">{{'layout.home_page.home'|t}}</a>
        {% if template contains "product" %}
        {% if collection %}
        {% if collection.handle %}
        <span>/</span>
        {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
        {{ collection.title | link_to: url }}
        {% elsif collection.all_products_count > 0 and collection.products.first.type == collection.title %}
        <span>/</span>
        {{ collection.title | link_to_type }}
        {% elsif collection.all_products_count > 0 and collection.products.first.vendor == collection.title %}
        <span>/</span>
        {{ collection.title | link_to_vendor }}
        {% endif %}
        {% else %}
        <span>/</span>
        {{ product.type | link_to_type }}
        {% endif %}
        <span>/</span>
        <span class="page-title">{{ page_title }}</span>
        {% elsif template == "article" %}
        <span>/</span>
        {{ blog.title | link_to: blog.url }}
        <span>/</span>
        <span class="page-title">{{ page_title }}</span>
        {% elsif template contains "collection" %}
        {% if current_tags.size > 0 %}
        <span>/</span>
        {{ collection.title | link_to: collection.url }}
        <span>/</span>
        <span class="page-title">{{ current_tags.first }}</span>
        {% else %}
        <span>/</span>
        <span class="page-title">{{ page_title }}</span>
        {% endif %}
        {% else %}
        <span>/</span>
        <span class="page-title">{{ page_title }}</span>
        {% endif %}
      </div>
    </div>
  </div>
</div>