{% layout settings.customer_layout %}

<div id="page-header">
  <h1 id="page-title">{{ 'customer.reset_password.title' | t }}</h1>
</div>

<div id="col-main" class="col-md-24 reset-page clearfix">

  <div id="reset_password">
    
      <p class="note">{{ 'customer.reset_password.note' | t }} <span class="email">{{ email }}</span></p>
      
      {% form 'reset_customer_password' %}
      
      {% if form.errors %}
      <div class="alert alert-danger">
        <button type="button" class="close btooltip" data-toggle="tooltip" data-placement="top" title="Close" data-dismiss="alert">×</button>
        {{ form.errors | default_errors }}
      </div>
      {% endif %}
      
      <ul id="reset-form" class="row list-unstyled">
      <li class="clearfix"></li>
      <li id="login_password" class="col-md-12">
        <label class="control-label" for="customer_password">{{ 'customer.reset_password.password' | t }} <span class="req">*</span></label>
        <input type="password" value="" name="customer[password]" id="customer_password" class="form-control" />
      </li>
      <li class="clearfix"></li>

      <li id="password_confirm" class="col-md-12">
        <label class="control-label" for="password_confirmation">{{ 'customer.reset_password.password_confirm' | t }} <span class="req">*</span></label>
        <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="form-control" />
      </li>
      <li class="clearfix"></li>

      <li class="col-md-12 unpadding-top">
        <button class="btn" type="submit">{{ 'customer.reset_password.reset_submit' | t }}</button>
      </li>
    </ul>
      {% endform %}

  </div>
</div>
