<div id="page-header">
  <h1 id="page-title">{{ 'general.404.title' | t }} <span class="not_found">404</span></h1>  
</div>

<div id="col-main" class="col-md-24 page-404">
  
  <div class="row">
    <h3 class="text-center">
      {{ 'general.404.subtext' | t }} 
    </h3>
    <h4 class="text-center">
      {{ 'general.404.subtext2' | t }}
    </h4>
    <p>&nbsp;</p>
    <div class="text-center">
      <ul class="list-inline">
        <li>
            <button class="btn" onclick="window.location='/collections/all'">{{ 'general.404.continue_shopping' | t }}</button>
        </li>
        {% comment %}
        <li>
          <ul class="list-inline">
            <li>
              {{ 'general.404.try_search' | t }} <i class="fa fa-hand-o-right"></i>
            </li>
            <li class="search-404">
              <form class="search-form" name="search" action="/search">
                <input type="text" class="input-block-level" name="q" value="" accesskey="4" autocomplete="off" placeholder="{{ settings.search_searchtext }}" />
                <button type="submit" class="search-submit" title="Search">
                  <i class="fa fa-search"></i>
                </button>
              </form>
            </li>
          </ul>
        </li> {% endcomment %}
      </ul>
    </div>
  </div>
</div>
<p>&nbsp;</p><p>&nbsp;</p>{% include 'wiser_recentview' %}{% include 'wiser_trending' %}{% include 'wiser_topselling' %}{% include 'wiser_newarrivals' %}{% include 'wiser_featured' %}{% include 'wiser_recent_related' %}