<div id="page-header" class="col-md-24">
  <h1 id="page-title">{{ page.title }}</h1>
</div>

<div id="col-main" class="col-md-24 clearfix">

  <div class="page page-wishlist">
    <div class="container wishlist-page shop_area">
      <div class="row">
        <div id="wishlistcontent">
          <span class="none" style="display:none;">{{ 'wishlist.none' |t }}</span>
          <span class="wishlist-count"></span>
          <ul>
            <li class="wishlist-heading">
              <div class="wishlist-image">
                {{ 'wishlist.image' | t }}
              </div>
              <div class="wishlist-name">
                {{ 'wishlist.name' | t }}
              </div>
              <div class="wishlist-price">
                {{ 'wishlist.price' | t }}
              </div>
              <div class="wishlist-addCart">
                {{ 'wishlist.add_to_cart' | t }}
              </div>
              <div class="wishlist-remove">
                {{ 'wishlist.remove' | t }}
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div><!-- /#col-main -->